*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #57626F;
    border-right: 4px solid #e0e0e0;
    left: -250px;

    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition: all 600ms;
}
.sidebar.active{
    left: 0px;
}

.sidebar ul li:first-child{ 
    text-align: center;
    color: white;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}
.sidebar ul li:not(first-child){
    margin-left: 10%;
    width: 90%;
    color: white;
    font-size: 1.95em;
    list-style: none;
    padding: 15px 10px;
}
.sidebar ul li a{
    color: #dfe5eb;
    text-decoration: none;
}

.sidebar .toggle-btn:hover{
    background: #556270;
}
.sidebar .toggle-btn:hover span{
    background: #fafafa;
}
.sidebar ul li a:hover{
    color: #59e9df;
}

.sidebar .toggle-btn{
    position: absolute;
    left: 270px;
    top: 20px;
    padding: 10px;
    cursor: pointer;
    background: #e0e5ea;
    border-radius: 12px;
}
.sidebar .toggle-btn span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px 0;
}